version: '3.8'

services:
  filebrowser:
    image: hurlenko/filebrowser
    container_name: cctv-fb
    ports:
      - "127.0.0.1:7060:8080"
    volumes:
      - /home/cctv/data:/data:ro
      - ./filebrowser/config:/config
    restart: always
